@import 'colors.scss';
body {
    font-family: 'Montserrat', sans-serif;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 5;
    width: 100%;
    color: $colorWhite;
    height: 50px;
    line-height: 50px;
}

nav {
    display: flex;
    z-index: 1;
    li {
        flex-direction: column;
        justify-content: space-between;
    }
    .navbar-brand {
        font-size: 35px;
         :hover {
            transform: scale(1.1);
            color: $colorWhite;
        }
    }
    .nav-item {
        text-transform: uppercase;
         :hover {
            transform: scale(1.1);
            color: $colorWhite;
        }
    }
    a {
        color: $colorWhite;
    }
}

.navbar-pages {
    li {
        font-size: 15px;
        margin-left: 3.5vw;
        margin-right: 3.5vw;
    }
    .separator {
        width: 1px;
        border: 1px solid $colorWhite;
        margin: 0px;
        padding: 0px;
    }
}

.container-home-image {
    position: fixed;
    top: -50px;
    img {
        opacity: 0.85;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
}